<!DOCTYPE html>
<html>
<body>

<h1>Boba</h1>
<h2>Boba</h2>
<h3>Boba</h3>
<p>Boba is yummy. You can buy it from many different places.</p>
<p>Some boba places I've been to are Redstraw, Cha For Tea, and Milkbox.</p>
<p><a href="https://redstrawteabar.com/">Redstraw Link</a></p>
<p><a href="https://www.chafortea.com/">Cha for Tea Link</a></p>
<p><a href="http://www.milkboxbar.com/">Milkbox Link</a></p>
<p>One boba shop I really want to try is Omomo Tea Shoppe.</p>
<p><a href="https://rooster-designs2.com/omomoteashoppe.com/menu/">Omomo Tea Shoppe</a></p>

</body>
</html>