<!DOCTYPE html>
<html>
<body>

<h1>Boba</h1>
<h2>Boba Shops I've Tried:</h2>
<ol>
    <li><a href="https://redstrawteabar.com/">Redstraw</a></li>
    <li><a href="https://www.chafortea.com/">Cha for Tea</a></li>
    <li><a href="http://www.meetfresh.us/en">Meet Fresh</a></li>
    <li><a href="http://www.milkboxbar.com/">Milkbox</a></li>
    <li><a href="https://www.gongchausa.com/">Gong Cha</a></li>
    <li><a href="http://www.1992sharetea.com/">ShareTea</a></li>
</ol>

<h2>Boba Shops I Want To Try:</h2>
<ol>
    <li><a href="https://rooster-designs2.com/omomoteashoppe.com/menu/">Omomo Tea Shoppe</a></li>
    <li><a href="https://www.kungfutea.com/">Kung Fu Tea</a></li>
</ol>

</body>
</html>