<!DOCTYPE html>
<html>
<body>

<h1 style="text-align:center;">Boba</h1>
<h2>Boba Shops I've Tried:</h2>
<p><a href="https://redstrawteabar.com/">Redstraw</a></p>
<img src="https://redstrawteabar.com/thumbs/2880x1384x50/files/zc/tea_lineup_05657.png" alt="">
<p><a href="https://www.chafortea.com/">Cha for Tea</a></p>
<p><a href="http://www.meetfresh.us/en">Meet Fresh</a></p>
<p><a href="http://www.milkboxbar.com/">Milkbox</a></p>
<p><a href="https://www.gongchausa.com/">Gong Cha</a></p>
<p><a href="http://www.1992sharetea.com/">ShareTea</a></p>

<h2>Boba Shops I Want To Try:</h2>
<p><a href="https://rooster-designs2.com/omomoteashoppe.com/menu/">Omomo Tea Shoppe</a></p>
<p><a href="https://www.kungfutea.com/">Kung Fu Tea</a></p>

</body>
</html>